/*inithialize*/

:root {
    --main-color: #5ba515;
    --main-paddingforsection: 150px;
    --secondry-color: #498313;
    --main-transition: all 0.3s ease 0s;
}

.notfication {
    position: relative;
}

.notfication span {
    position: absolute;
    padding: 3px 6px;
    border-radius: 50%;
    color: white;
    background-color: #dc3c31;
    font-size: 10px;
    font-weight: bold;
    top: -10px;
    right: -10px;

}

/*inithialize*/


/*header*/

.header {
    background-color: #313538;
    padding: 20px 0px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container div .icon {
    color: white;
}

.header .container div {
    font-size: 13px;
}

.header .container div:not(:nth-child(2)) {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .container div p{
    color: white !important;
}

/*header*/

/*nav*/

header {
    padding: 25px 0px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .nav ul {
    display: flex;
    gap: 60px;
}

header .container .nav ul a {
    font-weight: 600;
    transition: var(--main-transition);
    position: relative;
}

header .container .nav ul a::before {
    content: "";
    position: absolute;
    width: 0px;
    bottom: -8px;
    height: 2px;
    background-color: black;
    left: 50%;
    transition: var(--main-transition);
    transform: translateX(-50%);
}

header .container .nav ul a:hover::before {
    background-color: var(--main-color);
    width: 100%;
}

header .container .nav ul a:hover {
    color: var(--main-color);
}

header .container .last {
    color: #777;
    display: flex;
    gap: 30px;
}

header .container .last .icon {
    font-size: 18px;
}

header .container .last .icon:last-child {
    transition: var(--main-transition);
}

header .container .last .icon:last-child:hover {
    color: var(--main-color);
}

header .container .bars {
    display: flex;
    gap: 6px;
    flex-direction: column;
    align-items: flex-end;
    display: none;
    padding: 28px 0px;
    cursor: pointer;
}

header .container .bars span{
    display: block;
    width: 28px;
    height: 2px;
    background-color: black;
    transition: var(--main-transition);
}

header .container .bars span:nth-child(2) {
    width: 20px;
}

header .container .bars span:nth-child(3) {
    height: 3px;
}

header .container .mega_menu {
    position: absolute;
    bottom: -400px;
    background-color: #F3F4F6;
    z-index: -10;
    width: 100%;
    text-align: center;
    visibility: hidden;
    left: 0px;
    opacity: 0;
    transition: var(--main-transition);
}

header .container .bars:hover span:nth-child(2) {
    width: 28px;
}

header .container .bars:hover + .mega_menu {
    visibility: visible;
    z-index: 100;
    bottom: -360px;
    opacity: 1;
}

header .container .mega_menu:hover {
    visibility: visible;
    z-index: 100;
    bottom: -360px;
    opacity: 1;
}

header .container .mega_menu ul {
    display: block;
}

header .container .mega_menu ul a {
    display: block;
    position: relative;
    padding: 23px 0px;
    font-weight: 500;
}

header .container .mega_menu ul a span {
    position: relative;
    z-index: 2;
    transition: var(--main-transition);
}

header .container .mega_menu ul a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0px;
    left: 0px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

header .container .mega_menu ul a:hover span {
    color: white;
}

header .container .mega_menu ul a:hover::before {
    width: 100%;
    height: 100%;
}

@media (max-width: 991px) {
    header .container .last {
        display: none;
    }
    header .container .nav {
        display: none;
    }
    header .container .bars {
        display: flex;
    }

}

/*nav*/

/*landing2*/

.landing2 {
    background-image: url(../landing2-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 130px 0px;
}

.landing2 .container div h2{
    text-align: center;
    letter-spacing: 10px;
    font-size: 30px;
}

@media (max-width: 1200px) {
    .landing2 {
        padding: 100px 0px;
    }
}

@media (max-width: 800px) {
    .landing2 {
        padding: 80px 0px;
    }
}

@media (max-width: 661px) {
    .landing2 {
        padding: 50px 0px;
    }
    .landing2 .container div h2 {
        font-size: 20px;
    }
}

/*landing2*/

/*store*/

.store {
    padding-top: var(--main-paddingforsection);
    padding-bottom: var(--main-paddingforsection);
}

.store .container {
    display: flex;
    gap: 20px;
}

@media (max-width: 991px) {
    .store .container {
        flex-direction: column;
    }
}

.store .container .left_side {
    width: 285px;
}

.store .container .left_side input {
    padding: 8px 15px;
    border: 2px solid #ebebeb;
    outline: none;
    color: #b3b3b3;
    width: 100%;
}

.store .container .left_side input[type="text"] {
    margin-bottom: 60px;
    padding-right: 45px;
    width: 95% !important;
}

.store .container .left_side ::placeholder {
    color: #b3b3b3;
}

.store .container .left_side .icon {
    color: #b3b3b3;
    margin-left: -35px;
}

.store .container .left_side h4 {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    color: #444444;
    margin-bottom: 35px;
}

.store .container .left_side .cat ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.store .container .left_side .cat ul {
    margin-bottom: 45px;
}

.store .container .left_side .cat ul li span {
    padding: 0px 13px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.store .container .left_side .filter {
    margin-bottom: 45px;
}

.store .container .left_side .filter input {
    margin-bottom: 15px;
}

.store .container .left_side .filter button {
    width: 100%;
    padding: 12px 20px;
    text-transform: uppercase;
    border: none;
    background-color: var(--main-color);
    font-weight: 600;
    color: white;
    cursor: pointer;
    position: relative;
}

.store .container .left_side .filter button::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: var(--secondry-color);
    transition: var(--main-transition);
}

.store .container .left_side .filter button:hover::before {
    width: 100%;
}

.store .container .left_side .filter button span {
    position: relative;
}

.store .container .left_side .top {
    margin-bottom: 45px;
}

.store .container .left_side .top .element {
    margin-bottom: 25px;
    display: flex;
    gap: 15px;
}

.store .container .left_side .top .element .info p {
    margin-bottom: 10px;
}

.store .container .left_side .top .element .info p a {
    color: #777;
    font-size: 17px;
    transition: var(--main-transition);
}

.store .container .left_side .top .element .info p a:hover {
    color: var(--main-color);
}

.store .container .left_side .top .element .info span {
    font-weight: bold;
}

.store .container .left_side .tags span {
    color: #777;
    padding: 6px 15px;
    border: 1px solid #ebebeb;
    letter-spacing: 1px;
    transition: var(--main-transition);
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 2em;
    font-size: 14px;
}

.store .container .left_side .tags span:hover {
    background-color: var(--main-color);
    color: white;
}

.store .container .right_side {
    flex: 1;
}

.store .container .right_side .sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

@media (max-width: 991px) {
    .store .container .right_side .sort {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
}

.store .container .right_side .sort .left2 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.store .container .right_side .sort .left2 .icon {
    color: #777;
    font-size: 22px;
}

.store .container .right_side .sort .left2 a {
    border: 1px solid #ebebeb;
    padding: 5px;
    border-radius: 2px;
    transition: var(--main-transition);
}

.store .container .right_side .sort .left2 a:hover {
    background-color: var(--main-color);
}

.store .container .right_side .sort .left2 a:hover .icon {
    color: white;
}

.store .container .right_side .sort .right2 span{
    font-weight: bold;
    color: #777;
}

.store .container .right_side .sort .right2 select {
    margin-left: 15px;
    padding: 8px 15px;
    width: 170px;
    border: 1px solid #ebebeb;
    outline: none;
    color: #b3b3b3;
}

.store .container .right_side .sort .right2 select option {
    transition: var(--main-transition);
}

.store .container .right_side .sort .right2 select option:hover {
    background-color: var(--main-color);
}

.store .container .section .element {
    border: 1px solid #DEE2E6;
    position: relative;
}

.store .container .section {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
    gap: 20px;
    margin-bottom: 80px;
}

.store .container .section .img {
    position: relative;
    overflow: hidden;
}

.store .container .section .img img {
    width: 100%;
}

.store .container .section .element:hover .settings {
    bottom: 40px;
}

.store .container .section .img .settings {
    transition: all 0.6s ease 0s;
    position: absolute;
    bottom: -60px;
}

.store .container .section .img .settings a {
    font-size: 16px;
    padding: 15px;
    margin-left: 10px;
    background-color: white;
    transition: var(--main-transition);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 1600px) {
    .store .container .section .img .settings a{
        margin-left: 10px;
    }
}

@media (max-width: 1200px) {
    .store .container .section .img .settings a {
        margin-left: 18px;
    }
}

@media (max-width: 722px) {
    .products .special-container .section .img .settings a {
        margin-left: 18px !important;
    }
}

@media (max-width: 991px) {
    .store .container .section .img .settings a {
        margin-left: 12px;
        padding: 8px;
    }
}

@media (max-width: 667px) {
    .store .container .section .img .settings a {
        margin-left: 35px !important;
        padding: 15px;
    }
}

.store .container .section .img .settings a:hover {
    background-color: var(--main-color);
    color: white;
}

.store .container .section .img .settings .left-r {
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
}

.store .container .section .img .settings .right-r {
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
}

.store .container .section {
    text-align: center;
}

.store .container .section .info {
    margin-bottom: 30px;
}

.store .container .section .info p {
    margin: 10px 0px;
    transition: var(--main-transition);
}

.store .container .section .info p:hover {
    color: var(--main-color);
}

.store .container .section .element .sale {
    position: absolute;
    background-color: #5ba515;
    padding: 9px 20px;
    color: white;
    font-weight: 500;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    top: 18px;
    transform: rotate(90deg);
    left: -10px;
    z-index: 11;
}

.store .container .section .element .hot {
    position: absolute;
    background-color: #f9861f;
    padding: 9px 20px;
    color: white;
    font-weight: 500;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    top: 15px;
    transform: rotate(90deg);
    left: 40px;
    z-index: 11;
}

.store .container .right_side .pages {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: end;
}

.store .container .right_side .pages div {
    font-weight: bold;
}

.store .container .right_side .pages div:not(:nth-child(4)) {
    padding: 5px 9px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--main-transition);
}

.store .container .right_side .pages div:not(:nth-child(4)):hover {
    background-color: var(--main-color);
    color: white;
}

.store .container .right_side .pages .selected {
    color: white;
    background-color: var(--main-color);
}

/*store*/


/*subscribe*/

.subscribe {
    padding-bottom: var(--main-paddingforsection);
}

.subscribe .container {
    text-align: center;
    background-image: url(../sub-bg.jpg);
    padding: 115px 15px;
}

.subscribe .container form input:first-child {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 15px 28px;
    min-width: 30%;
    padding-right: 65px;
    border-radius: 2em;
}

.subscribe .container form .special-btn {
    padding: 15px 25px;
    border-radius: 2em;
    border: none;
    background-color: var(--main-color);
    transition: var(--main-transition);
    position: relative;
    color: white;
    font-weight: 500;
    overflow: hidden;
    cursor: pointer;
    margin-left: -50px;
}

.subscribe .container form .special-btn:hover {
    background-color: var(--secondry-color);
}

/*subscribe*/

/*footer*/

footer {
    background-color: #f6f6f6;
    padding-top: 100px;
}

footer .container .section {
    display: flex;
    gap: 80px;
    padding-bottom: 50px;
    border-bottom: 1px solid #d1d1d1;
    flex-wrap: wrap;
}

@media (max-width: 555px) {
    footer .container .section {
        flex-direction: column;
        gap: 40px;
    }
}

footer .container .element {
    margin-top: -30px;
}

footer .container .element img{
    margin-bottom: 40px;
}

footer .container .element div {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
}

footer .container .element div ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-content: center;
}

footer .container .element div ul li {
    color: #777;
    transition: var(--main-transition);
}

footer .container .element div:nth-child(4) a {
    color: #777;
    transition: var(--main-transition);
}

footer .container .element div:nth-child(4) a:hover {
    color: var(--main-color);
}

footer .container .element div:nth-child(5) p {
    color: black;
    font-weight: 600;
}

footer .container .element div ul li:hover {
    color: var(--main-color);
    cursor: pointer;
}

footer .container .element2 h3 {
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
}

footer .container .element2 ul li {
    margin-bottom: 15px;
}

footer .container .element2 a {
    color: #777;
    transition: var(--main-transition);
}

footer .container .element2 a:hover {
    color: var(--main-color);
}

footer .copyrights {
    text-align: center;
    padding: 20px 0px;
    background-color: #313538;
}

footer .copyrights p {
    color: white;
}

footer .copyrights span {
    color: var(--main-color);
}

@media (max-width: 661px) {
    footer .copyrights p{
        font-size: 14px;
    }
}

/*footer*/